@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NAVBAR*/
header {
  border-radius: .16606rem;
  background-color: var(--color-navigation-bg);
  box-shadow: 0 5.313px 132.828px 0 rgba(0, 0, 0, .05);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  position: sticky;
  -webkit-position: -webkit-sticky;
  top: 0;
  z-index: 3;
  padding: 20px
}
.navbar {
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 5.313px 132.828px 0 rgba(0, 0, 0, .05);
}
.navbar li {
  display: inline-block;
  padding: 0px 20px;
}
.navbar li a {
  color: #e22d2d;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  padding: 10px;
}
.navbar li a:hover {
  border-radius: 150px;
}



/*Social Icons*/
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid whitesmoke;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: whitesmoke;
}
.social-icons a:hover{
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: whitesmoke;
  box-shadow: 0  0 25px whitesmoke;
}



/*BODY*/
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: white;
  color: #333;
  background-image: url("picsss.jpg");
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  font-family: "Fraunces", serif;
}
section {
  padding: 50px 0;
  min-height: 100vh;
  color: #e22d2d;
}
section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}
section p {
  font-size: 1.2em;
}


/*HOME*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  font-family: "Fraunces", serif;
  min-height: 100vh;
}
.home .home-content{
  padding: 2rem;
  border: 1px solid #e22d2d;
  border-radius: 1rem;
  background: #0d0b11;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
  font-family: "Fraunces", serif;
  max-width: 60rem;
  
}
.home .home-content h2{
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: left;
}
.home-content h3{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  text-align: left;
}
.home-img{
  border-radius: 50%;
  padding-left: 90px;
}
.home-img img{
  position: relative;
  width: 20vw;
  border-radius: 50%;
  box-shadow: 0 0 25px solid #b74b4b;
  cursor: pointer;
  transition: 0.2s linear;
}
.home-img img:hover{
  font-size: 1.8rem;
  font-weight: 500;
}

/*typing text*/
span{
  color: whitesmoke;
  font-family: "Fraunces", serif;
  font-weight: bold;
}
.typing-text{
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.typing-text span{
  position: relative;
}
.typing-text span::before{
  content:"";
  color: whitesmoke;
  animation: words 14s infinite;
}
.typing-text span::after{
  content: "";
  position: absolute;
  height: 120%;
  border-left: 3px solid black;
  right: -8;
  animation: cursor 0.6s infinite;
}
@keyframes cursor{
  to{
      border-left: 3px solid whitesmoke;
  }
}


/*Fixed layout*/
@media (max-width: 1000px){
  .home{
      gap: 4rem;
  }
}
@media(max-width:995px){
  .home{
      flex-direction: column;
      margin: 5rem 4rem;
  }
  .home .home-content h3{
      font-size: 2.5rem;
  }
  .home-content h1{
      font-size: 5rem;
  }
  .home-img img{
      width: 70vw;
      margin-top: 4rem;
  }
}


/*ABOUT*/
.about {
  padding: 2rem;
  border: 1px solid #e22d2d;
  border-radius: 1rem;
  background: #0d0b11;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
  font-family: "Fraunces", serif;
}
.about li {
  color: #b74b4b;
  font-family: "Fraunces", serif;
  list-style-type: none; 
  line-height: 3em;
}
.about p {
  font-family: "Fraunces", serif;
  list-style-type: none; 
  font-size: 17px;
  margin: 20px;
}
.school li {
  display: flex;
  margin-left: 30px;
}

/*GALLERY*/
.gallery {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
  gap: 15px;
  padding: 200px;
  background-image: url("picsss.jpg");
  font-family: "Fraunces", serif;
}
.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow effect */
}
.gallery img:hover {
  transform: scale(1.05); /* Zoom effect on hover */
  transition: 0.3s;
}